<div class="container">
  <div class="category-container">
    <div class="category-content">
      <header class="page-header">
        <h3>{{category.name}}</h3>
      </header>
      <div class="section-articles-tabs">
        <div class="block-print"><a href="javascript:window.print()"><img src="{{asset 'print.svg'}}" /></a></div>
        {{section_tree_with_article}} 
      </div>
    </div>
  </div>
</div>

